@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/*FIXING BOOTSTRAP DEFAULT STYLES*/
ul {
  padding-left: 0rem !important;
}

/*Navigation*/
.desktop-navbar {
  position: fixed;
  top: 1rem;
  width: 100%;
  z-index: 9;
}
.desktop-navbar ul {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: fit-content;
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.712);
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.116) 0px 0px 10px 2px;
  list-style: none;
}
.desktop-navbar ul .cart-li {
  color: black;
  font-weight: 600;
  background-color: rgb(255, 255, 255);
}
.desktop-navbar ul .cart-li img {
  margin-right: 0.3rem;
  width: 15px;
}
.desktop-navbar ul li {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}
.desktop-navbar ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.2s ease-in-out;
}
.desktop-navbar ul li a:hover {
  color: rgb(172, 172, 172);
  transition: 0.2s ease-in-out;
}

.hamburger-navbar {
  display: none;
}

@media screen and (max-width: 768px) {
  .desktop-navbar {
    display: none;
  }
  .hamburger-navbar {
    display: flex;
    flex-direction: column;
  }
  .hamburger-navbar > nav {
    top: 0;
  }
}
footer {
  margin-top: 2rem;
  bottom: 0;
}
footer > p {
  text-align: center;
  padding: 2rem;
}

/* @import 'pages/home/categories';
@import 'pages/home/featured-products';
@import 'pages/home/hero'; */
body#home .products-wrapper {
  max-width: 1600px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 0 auto;
  grid-gap: 4rem;
  padding: 1rem;
}
body#home .products-wrapper .item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.116) 0px 10px 20px 0px !important;
  border-bottom: 4px solid #8490ff;
}
body#home .products-wrapper .item .item-img {
  max-width: 250px;
  width: 100%;
  object-fit: cover;
}
body#home .products-wrapper .item .name {
  margin: 0.5rem 0rem;
  font-weight: 400;
  font-size: 1rem;
}
body#home .products-wrapper .item .price {
  margin: 1rem 0rem;
  font-weight: 600;
  font-size: 1rem;
  color: rgb(32, 32, 32);
}
body#home .products-wrapper .item > button {
  font-size: 0.9rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: #8490ff;
  background-color: white;
  border: 2px solid #8490ff;
  font-weight: 600;
  transition: 0.2s ease-in-out;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
body#home .products-wrapper .item > button > i {
  font-size: 15px;
}
body#home .products-wrapper .item > button:hover {
  color: rgb(255, 255, 255);
  background-color: #8490ff;
  transition: 0.2s ease-in-out;
}
body#home .products-wrapper .item > button:hover i {
  color: rgb(255, 255, 255);
  transition: 0.2s ease-in-out;
}
body#home .products-categories {
  text-align: center;
}
body#home .products-categories h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
body#home .products-categories .categories-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
body#home .products-categories .categories-wrapper .item h3 {
  margin-top: 1rem;
  margin-bottom: 4rem;
  font-size: 1.2rem;
}
body#home .products-categories .categories-wrapper .item img {
  cursor: pointer;
  transition: 0.2s ease-in-out;
  max-width: 200px;
  border: 3px solid #8490ff;
  margin: 0rem 1rem;
}
body#home .products-categories .categories-wrapper .item img:hover {
  background-color: #8490ff;
  transition: 0.2s ease-in-out;
}
body#home .more-products-btn {
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: #8490ff;
  background-color: white;
  border: 2px solid #8490ff;
  font-weight: 600;
  transition: 0.2s ease-in-out;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  text-decoration: none;
  margin: 0 auto;
}
body#home .more-products-btn > i {
  font-size: 15px;
}
body#home .more-products-btn:hover {
  color: rgb(255, 255, 255);
  background-color: #8490ff;
  transition: 0.2s ease-in-out;
}
body#home .more-products-btn:hover i {
  color: rgb(255, 255, 255);
  transition: 0.2s ease-in-out;
}
body#home .hero {
  color: white;
  background-image: url(../assets/img/hero-img.png);
  background-position: center;
  background-size: cover;
  height: 60vh;
  text-align: center;
  position: relative;
}
body#home .hero .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body#home .hero .content h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
}
body#home .hero .content p {
  margin: 0 auto;
  max-width: 500px;
  margin-bottom: 2rem;
}
body#home .hero .content a {
  font-size: 0.9rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: #8490ff;
  background: none;
  border: 2px solid #8490ff;
  font-weight: 600;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}
body#home .hero .content a:hover {
  color: black;
  background-color: #8490ff;
  transition: 0.2s ease-in-out;
}
body#home main .featured-products h2 {
  margin-top: 2rem;
  text-align: center;
}

.login {
  padding: 1rem;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background: linear-gradient(180deg, rgb(217, 215, 255) 0%, rgb(255, 255, 255) 100%);
}
.login > form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 450px;
  gap: 1.5rem;
}
.login > form > button {
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  background-color: #8490ff;
  padding: 0.5rem;
  transition: 0.2s ease-in-out;
}
.login > form > button:hover {
  background-color: #6372fc;
  transition: 0.2s ease-in-out;
}
.login > form .input-box > label {
  font-size: 0.8rem;
}
.login > form .input-box > input {
  /* border: 2px solid #000000;
  border-radius: 5px; */
  border: 2px solid transparent;
  padding: 0.5rem 1rem;
  outline: none;
  max-width: 800px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.336);
  transition: 0.2s ease-in-out;
  box-shadow: rgba(100, 100, 111, 0.144) 0px 2px 10px 0px;
}
.login > form .input-box > input::placeholder {
  color: #c4c4c4;
}
.login > form .input-box > input:focus {
  transition: 0.2s ease-in-out;
  border: 2px solid #8490ff;
  background-color: rgba(183, 193, 250, 0.185);
}
.login .login-with-google > button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: white;
  color: black;
}
.login .login-with-google > button:hover {
  background-color: rgb(198, 206, 255);
}
.login .login-with-google > button > img {
  max-width: 24px;
}
.login .login-with-google .text-divider {
  display: flex;
  align-items: center;
  --text-divider-gap: 1rem;
}
.login .login-with-google .text-divider::before, .login .login-with-google .text-divider::after {
  content: "";
  height: 1px;
  background-color: silver;
  flex-grow: 1;
}
.login .login-with-google .text-divider::before {
  margin-right: var(--text-divider-gap);
}
.login .login-with-google .text-divider::after {
  margin-left: var(--text-divider-gap);
}

.carousel-item img {
  width: 100%;
  height: 650px;
  object-fit: cover;
}

@media screen and (max-width: 1300px) {
  .carousel-item {
    height: 300px;
  }
}
/*FONTS*/
.products .products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.products .products-container > h1 {
  margin-top: 2rem;
  font-weight: 700;
  font-size: 2rem;
}
.products .products-container .products-filters {
  padding: 1rem;
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
.products .products-container .products-filters > form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .products .products-container .products-filters > form {
    align-items: flex-start;
    flex-direction: column;
  }
}
.products .products-container .products-filters > form > select {
  color: #838383;
  border: 2px solid #c2c2c2;
  font-weight: 500;
  cursor: pointer;
  padding: 0.5rem 1rem;
  outline: none;
  transition: 0.2s ease-in-out;
  /* &:hover{
    color: white;
    background-color: #8490ff;
    transition: 0.2s ease-in-out;
  } */
}
.products .products-container .products-filters > form .search-input-box {
  border: 2px solid #c2c2c2;
  position: relative;
  width: 100%;
  max-width: 800px;
  padding: 1rem;
}
.products .products-container .products-filters > form .search-input-box > input {
  padding-left: 2rem;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  font-weight: 500;
  color: black;
  background-color: transparent;
}
.products .products-container .products-filters > form .search-input-box > i {
  top: 0.4rem;
  left: 0.3rem;
  position: absolute;
  font-size: 1.3rem;
}
.products .products-container .products-filters > form > input {
  border-radius: 5px;
  padding: 0.5rem 1rem;
  outline: none;
  max-width: 800px;
  width: 100%;
  transition: 0.2s ease-in-out;
}
.products .products-container .products-filters > form > input::placeholder {
  color: #c4c4c4;
}
.products .products-container .products-filters > form > input:focus {
  transition: 0.2s ease-in-out;
  border: 2px solid #8490ff;
}
.products .products-container .products-filters > form > button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: white;
  border: 2px solid #8490ff;
  color: #8490ff;
  font-weight: 500;
  transition: 0.2s ease-in-out;
  min-width: 120px;
}
.products .products-container .products-filters > form > button:hover {
  background-color: #8490ff;
  color: white;
  transition: 0.2s ease-in-out;
}
.products .products-container .products-wrapper {
  max-width: 1600px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 0 auto;
  grid-gap: 4rem;
  padding: 1rem;
}
.products .products-container .products-wrapper .item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.116) 0px 10px 20px 0px !important;
  border-bottom: 4px solid #8490ff;
}
.products .products-container .products-wrapper .item .item-img {
  max-width: 250px;
  width: 100%;
  object-fit: cover;
}
.products .products-container .products-wrapper .item .name {
  margin: 0.5rem 0rem;
  font-weight: 400;
  font-size: 1rem;
}
.products .products-container .products-wrapper .item .price {
  margin: 1rem 0rem;
  font-weight: 600;
  font-size: 1rem;
  color: rgb(32, 32, 32);
}
.products .products-container .products-wrapper .item > button {
  font-size: 0.9rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: #8490ff;
  background-color: white;
  border: 2px solid #8490ff;
  font-weight: 600;
  transition: 0.2s ease-in-out;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.products .products-container .products-wrapper .item > button > i {
  font-size: 15px;
}
.products .products-container .products-wrapper .item > button:hover {
  color: rgb(255, 255, 255);
  background-color: #8490ff;
  transition: 0.2s ease-in-out;
}
.products .products-container .products-wrapper .item > button:hover i {
  color: rgb(255, 255, 255);
  transition: 0.2s ease-in-out;
}

/**/

/*# sourceMappingURL=styles.css.map */
