body#home{
    @import '../components/featured-products';
    @import '../components/categories';
    @import '../components/buttons';
    @import '../components/hero';

    main .featured-products h2{
        margin-top: 2rem;
        text-align: center;
    }

    main .featured-products{
        display: flex;
        gap: 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}