.more-products-btn {
  @include button-style-white($lightblue);
  width: fit-content;
  text-decoration: none;
  margin: 0 auto;
}

// Login with google button form
.login-with-google {
  button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: white;
    color: black;

    &:hover {
      background-color: rgb(198, 206, 255);
    }

    > img {
      max-width: 24px;
    }
  }

  // divider
  .text-divider {
    display: flex;
    align-items: center;
    --text-divider-gap: 1rem;

    &::before,
    &::after {
      content: "";
      height: 1px;
      background-color: silver;
      flex-grow: 1;
    }

    &::before {
      margin-right: var(--text-divider-gap);
    }

    &::after {
      margin-left: var(--text-divider-gap);
    }
  }
}
