// Products categories
.products-categories {
  text-align: center;

  h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .categories-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .item {
      h3 {
        margin-top: 1rem;
        margin-bottom: 4rem;
        font-size: 1.2rem;
      }

      img {
        cursor: pointer;
        transition: 0.2s ease-in-out;
        max-width: 200px;
        border: 3px solid #8490ff;
        margin: 0rem 1rem;
        &:hover {
          background-color: #8490ff;
          transition: 0.2s ease-in-out;
        }
      }
    }
  }
}
