// Products list
.products-wrapper {
    max-width: 1600px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 0 auto;
    grid-gap: 4rem;
    padding: 1rem;

    .item {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      width: 100%;
      max-width: 350px;
      margin: 0 auto;
      box-shadow: rgba(0, 0, 0, 0.116) 0px 10px 20px 0px !important;
      border-bottom: 4px solid $lightblue-dark;

      .item-img {
        max-width: 250px;
        width: 100%;
        object-fit: cover;
      }

      .name {
        margin: 0.5rem 0rem;
        font-weight: 400;
        font-size: 1rem;
      }

      .price {
        margin: 1rem 0rem;
        font-weight: 600;
        font-size: 1rem;
        color: rgb(32, 32, 32);
      }

      > button {
        @include button-style-white($lightblue);
        display: flex;
        align-items: center;
        gap: 0.5rem;
        > i {
          font-size: 15px;
        }
      
        &:hover i {
          color: rgb(255, 255, 255);
          transition: 0.2s ease-in-out;
        }
      }
    }
  }