/*Main button mixin*/
@mixin button-style-white($color) {
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: $color;
  background-color: white;
  border: 2px solid $color;
  font-weight: 600;
  transition: 0.2s ease-in-out;

  &:hover {
    color: rgb(255, 255, 255);
    background-color: $color;
    transition: 0.2s ease-in-out;
  }
}

/*
Transparent button mixin
(usually used for buttons in headers with a background image)
*/

@mixin button-style-transparent($color,$hover-color) {
    cursor: pointer;
    padding: 0.5rem 1rem;
    color: $color;
    background-color: transparent;
    border: 2px solid $color;
    font-weight: 600;
    transition: 0.2s ease-in-out;
    margin: 0 auto;
  
    &:hover {
      color: $hover-color;
      background-color: $color;
      transition: 0.2s ease-in-out;
    }
  }


